body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('investec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: left;
    position: relative; /* Allows positioning of buttons within the form */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 19px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 05px;
}

.button-container {
    position: absolute; /* Positions the button container relative to the form */
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px; /* Space between buttons */
}

button {
    background-color: #28a745; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Darker green on hover */
}

h2, h3 {
    color: #333;
    margin-bottom: 5px; /* Corrected from 5 to 5px */
}

p {
    font-size: 14px;
    color: #333;
}

.footer {
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;
    color: #666;
}

#textbox-container {
    display: none;
    margin-top: 10px;
}
